{% if location is not defined %}
    {% set location = 'home' %}
{% endif %}
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <!--
           ____                   __   ______             __
          / __/__ ____  ___ __ __/ /  / __/ /  ___  ___  / /__ ___
         / _// _ `/ _ \(_-</ // / _ \/ _// _ \/ _ \/ _ \/  '_/(_-<
        /_/  \_,_/_//_/___/\_,_/_.__/___/_.__/\___/\___/_/\_\/___/

        All FansubEbooks code is open source under Creative Commons Attribution 4.0 International
        Code available at: https://github.com/johnnoel/fansubebooks.chaostangent.com
        -->
        <title>{% block title %}{% endblock %}{% if block('title') is not empty %} : {% endif %}Fansub Ebooks</title>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <script src="{{ asset('js/head.js') }}"></script>
    </head>
    <body{% if location == 'home' %} class="home"{% endif %}>
        <header id="header">
            <div id="header-inner" class="container">
                <a href="{{ path('home') }}" class="marque">fansub<span>ebooks</span></a>
                <nav class="navbar">
                    <ul>
                        <li{% if location == 'home' %} class="on"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                        <li{% if location == 'popular' %} class="on"{% endif %}><a href="{{ path('popular') }}">Popular</a></li>
                        <li{% if location == 'series' %} class="on"{% endif %}><a href="{{ path('series') }}">Explore</a></li>
                        <li><a href="{{ path('random') }}">Random</a></li>
                        <li{% if location == 'help' %} class="on"{% endif %}><a href="{{ path('help') }}">Help</a></li>
                        <li{% if location == 'search' %} class="on"{% endif %}><a href="{{ path('search') }}">Search</a></li>
                    </ul>
                </nav>
            </div>

            {% block header %}{% endblock %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer id="footer" class="container">
            Fansub Ebooks is too silly to copyright. Those responsible include <a href="https://chaostangent.com">John &ldquo;ChaosTangent&rdquo; Noel</a>.
        </footer>
    </body>
</html>
