{% extends '::layout.html.twig' %}
{% set location = '' %}
{% set file = line.file %}
{% set series = line.file.series %}

{% block title %}Line #{{ line.id }}{% endblock %}

{% block body %}
<article>
    {% include 'ChaosTangentFansubEbooksAppBundle::line.html.twig' with { 'line': line, 'jumbo': true } %}
    <p><b>#{{ line.id }}</b>, from: <a href="{{ path('series_view', { 'alias': series.alias }) }}">{{ series.title }}</a> - <a href="{{ path('series_file', { 'alias': series.alias, 'file_id': file.id }) }}">{{ file.name }}</a></p>

    <nav class="line-nav">
        <a href="{{ path('line', { 'id': line.id - 1 }) }}" class="btn btn-lg btn-action line-nav-prev">&larr; Previous line</a>

        <a href="{{ path('random') }}" class="btn btn-lg line-nav-random">Random</a>

        <a href="{{ path('line', { 'id': line.id + 1 }) }}" class="btn btn-lg btn-action line-nav-next">Next line &rarr;</a>
    </nav>
</article>
{% endblock %}
