{% extends '::layout.html.twig' %}
{% set location = '' %}
{% set file = line.file %}
{% set series = line.file.series %}

{% block head %}
{% spaceless %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="fansub_ebooks">
<meta name="og:title" content="FansubEbooks line #{{ line.id }}">
<meta name="og:description" content="{{ line.line|truncate(200) }}">
{% if line.series.image is not empty %}
<meta name="og:image" content="{{ line.series.thumbnail }}">
{% endif %}
{% endspaceless %}
{% endblock %}

{% block title %}Line #{{ line.id }}{% endblock %}

{% block body %}
<article>
    {% if app.request.query.get('voted_up', false) %}
    <br><div class="alert">Your vote up for this line has been counted!</div>
    {% elseif app.request.query.get('voted_down', false) %}
    <br><div class="alert">Your vote down for this line has been counted!</div>
    {% elseif app.request.query.get('flagged', false) %}
    <br><div class="alert">Thanks for flagging this line as inappropriate / incorrect!</div>
    {% endif %}
    {% include 'ChaosTangentFansubEbooksAppBundle::line.html.twig' with { 'line': line, 'jumbo': true } %}
    <p><b>#{{ line.id }}</b>, from: <a href="{{ path('series_view', { 'alias': series.alias }) }}">{{ series.title }}</a> - <a href="{{ path('series_file', { 'alias': series.alias, 'file_id': file.id }) }}">{{ file.name }}</a></p>

    <nav class="line-nav">
        <a href="{{ path('line', { 'id': line.id - 1 }) }}" class="btn btn-lg btn-action line-nav-prev">&larr; Previous line</a>

        <a href="{{ path('random') }}" class="btn btn-lg line-nav-random">Random</a>

        <a href="{{ path('line', { 'id': line.id + 1 }) }}" class="btn btn-lg btn-action line-nav-next">Next line &rarr;</a>
    </nav>
</article>
{% endblock %}
