{% extends 'ChaosTangentFansubEbooksQuizBundle::layout.html.twig' %}
{% set location = 'quiz' %}

{% block body %}
<article>
    <div id="quiz-intro">
        <div id="quiz-intro-series">
            {% for s in series %}
            <img src="{{ s.thumbnail }}" alt="">
            {% endfor %}
        </div>
        <h1>Take the Fansub Ebooks never ending quiz</h1>
        <p>Match a line to its anime and get... points? Credits? Bragging rights.</p>

        {% if user is not null %}
        <a href="{{ path('quiz_question') }}" class="btn btn-action btn-lg">Get started</a>
        {% else %}
        <a href="{{ path('quiz_login') }}" class="btn btn-action btn-lg">Sign in with Twitter to get started</a>
        {% endif %}
    </div>

    <div id="quiz-howtoplay" class="panel">
        <h2 class="panel-title">How to play</h2>
        <ol>
            <li>Sign in with your Twitter account</li>
            <li>A line of dialogue from an anime will be shown with three possible answers</li>
            <li>Choose the anime you think the line came from <b>or</b> skip it to find out the answer</li>
            <li>Accumulate correct answers to feel a sense of accomplishment and stave off the psychological ravages of entropy</li>
            <li>Repeat from step 2</li>
        </ol>
    </div>

    <div class="panel" id="quiz-dailyleaderboard">
        <h2 class="panel-title">Daily leaderboard <small>from 00:00 UTC</small></h2>
        <a href="{{ path('quiz_leaderboard') }}#daily" class="btn panel-actions">View full</a>
        <table class="leaderboard">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for user in leaderboard %}
                <tr>
                    <td>@{{ user.displayName }}</td>
                    <td>{{ user.correct }} / {{ user.incorrect }} / {{ user.skipped }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock %}
