{% extends '::layout.html.twig' %}
{% set location = 'quiz' %}

{% block body %}
<h1>{{ question.line.line }}</h1>

<ul>
    <li>
        <img src="{{ question.series1.thumbnail }}" alt="">
        <form method="post" action="{{ path('quiz_answer') }}">
            <input type="hidden" name="token" value="{{ csrf_token('quiz_answer') }}">
            <input type="hidden" name="answer" value="{{ question.series1.id }}">
            <button type="submit">{{ question.series1.title }}</button>
        </form>
    </li>
    <li>
        <img src="{{ question.series2.thumbnail }}" alt="">
        <form method="post" action="{{ path('quiz_answer') }}">
            <input type="hidden" name="token" value="{{ csrf_token('quiz_answer') }}">
            <input type="hidden" name="answer" value="{{ question.series2.id }}">
            <button type="submit">{{ question.series2.title }}</button>
        </form>
    </li>
    <li>
        <img src="{{ question.series3.thumbnail }}" alt="">
        <form method="post" action="{{ path('quiz_answer') }}">
            <input type="hidden" name="token" value="{{ csrf_token('quiz_answer') }}">
            <input type="hidden" name="answer" value="{{ question.series3.id }}">
            <button type="submit">{{ question.series3.title }}</button>
    </li>
</ul>

<p>
    <button type="button">Pass</button>
    <button type="button">Flag</button>
</p>
{% endblock %}
