{% if user is not null %}
<div class="quiz container">
    {% set tweet_text = 'I\'ve got '~user.correct~' correct, '~user.incorrect~' wrong and passed '~user.skipped~' questions on the @fansub_ebooks quiz' %}
    <a href="https://twitter.com/intent/tweet?text={{ tweet_text|e('url') }}&amp;url={{ url('quiz')|e('url') }}" class="quiz-score" title="Tweet your current score">
        <span class="quiz-score-correct"><b>{{ user.correct }}</b> correct</span>
        <span class="quiz-score-wrong"><b>{{ user.incorrect }}</b> wrong</span>
        <span class="quiz-score-skipped"><b>{{ user.skipped }}</b> passed</span>
    </a>

    <div class="quiz-loggedin">
        <img src="{{ user.avatar }}" alt="">
        @{{ user.displayName }}

        <a href="{{ path('quiz_logout') }}" class="btn btn-action">Logout</a>
    </div>
</div>
{% endif %}
