<a href="{{ path('series_view', { 'alias': series.alias }) }}" class="series">
    <img src="{{ series.thumbnail }}" alt="" class="series-thumbnail">
    <h3 class="series-title">{{ series.title }}</h3>
    {% if not hide_stats|default(false) %}
    <p class="series-stats">{{ series.fileCount }} script{% if series.fileCount != 1 %}s{% endif %}<br>{{ series.lineCount|number_format }} lines<br>{{ series.tweetCount|number_format }} tweets</p>
    {% endif %}
</a>
