{% extends '::layout.html.twig' %}
{% set location = 'series' %}

{% block title %}Exploring series{% endblock %}

{% block body %}
<article>
    <header class="page-header">
        <h2 class="page-header-title">Browse by series</h2>
        <div class="page-header-actions">
            <a href="{{ path('help') }}#suggest_series">Suggest a series!</a>
        </div>
    </header>

    {% if series|length > 0 %}
    <ul class="series-grid">
        {% for s in series %}
        <li>
            <a href="{{ path('series_view', { 'alias': s.alias }) }}" class="series">
                <img src="http://placehold.it/173x242" alt="" class="series-thumbnail">
                <h3 class="series-title">{{ s.title }}</h3>
                <p class="series-stats">{{ s.fileCount }} script{% if s.fileCount != 1 %}s{% endif %}<br>{{ s.lineCount|number_format }} lines<br>{{ s.tweetCount|number_format }} tweets</p>
            </a>
        </li>
        {% endfor %}
    </ul>

    {% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
        'route': 'series',
        'page': series.page,
        'pages': series.pages,
    } %}
    {% endif %}
</article>
{% endblock %}
