{% extends '::layout.html.twig' %}
{% set location = 'series' %}
{% if selected_file is not defined %}
    {% set selected_file = null %}
{% endif %}
{% if results is not defined %}
    {% set results = [] %}
{% endif %}

{% block head %}
{% spaceless %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="fansub_ebooks">
<meta name="og:title" content="{{ series.title }} on FansubEbooks">
<meta name="og:description" content="Explore all {{ series.lineCount|number_format }} in {{ series.fileCount|number_format }} for {{ series.title }} on FansubEbooks">
{% if series.thumbnail is not empty %}
<meta name="og:image" content="{{ series.image }}">
{% endif %}
{% endspaceless %}
{% endblock %}

{% block title %}{{ series.title }}{% endblock %}

{% block body %}
<article>
    <header id="series-header">
        <h2>{{ series.title }}</h2>

        <div class="panel" id="series-thumbnail">
            <a href="{{ series.image }}" class="series">
                <img src="{{ series.thumbnail }}" alt="" class="series-thumbnail">
            </a>
        </div>

        <div class="panel" id="series-stats">
            <div class="stats">
                <div class="stat">
                    <h3 class="stat-title">Files</h3>
                    <span class="stat-stat">{{ series.fileCount|number_format }}</span>
                </div>
                <div class="stat">
                    <h3 class="stat-title">Lines</h3>
                    <span class="stat-stat">{{ series.lineCount|number_format }}</span>
                </div>
                <div class="stat">
                    <h3 class="stat-title">Tweets</h3>
                    <span class="stat-stat">{{ series.tweetCount|number_format }} ({{ ((series.tweetCount / series.lineCount) * 100)|number_format }}%)</span>
                </div>
                <div class="stat">
                    <h3 class="stat-title">Last update</h3>
                    <span class="stat-stat">{{ series.updated|date(datetime_format, 'UTC') }}</span>
                </div>
            </div>
        </div>

        <div class="panel" id="series-nav">
            <form method="GET" action="{{ path('series_search', { 'alias': series.alias }) }}" class="search">
                <fieldset>
                    <legend class="search-title">Search this series</legend>

                    <div class="search-inner">
                        <label for="search-query">Search term</label>
                        <input type="text" name="q" placeholder="magical" value="{{ query|default('') }}" class="search-query">
                        <button type="submit" class="search-action">Search</button>
                    </div>
                </fieldset>

                {% if results|length > 0 %}
                <p class="search-stats">
                    Your search returned
                    {% if results|length > 0 %}<b>{{ results.total }} line{% if results.total != 1 %}s{% endif %}</b>{% endif %}
                    in {{ (search_time * 1000)|number_format }}ms
                </p>
                {% endif %}
            </form>

            <nav class="panel">
                <h3 class="panel-title">Files within this series</h3>
                <ul class="filelist">
                    {% for file in series.files %}
                    <li{% if selected_file is not null and file.id == selected_file.id %} class="on"{% endif %}>
                        <a href="{{ path('series_file', { 'alias': series.alias, 'file_id': file.id }) }}" title="{{ file.name|replace('_', ' ') }}">
                            {{ file.name|replace('_', ' ') }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>

    {% if selected_file is not null %}
    <h3>Showing lines from {{ selected_file.name|replace('_', ' ') }}</h3>
    {% include 'ChaosTangentFansubEbooksAppBundle::linegrid.html.twig' with { 'lines': lines } %}
    {% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
        'route': 'series_file',
        'route_params': { 'alias': series.alias, 'file_id': selected_file.id },
        'page': lines.page,
        'pages': lines.pages
    } %}
    {% else %}
        {% set resultStart = ((results.page - 1) * results.perPage) %}
        {% set resultEnd = results.perPage %}
        {% if results|length < resultEnd %}
            {% set resultEnd = results|length %}
        {% endif %}
        <h3>Showing lines {{ resultStart + 1 }} - {{ resultStart + resultEnd }} for search &lsquo;{{ query }}&rsquo;</h3>

        {% include 'ChaosTangentFansubEbooksAppBundle::linegrid.html.twig' with { 'lines': results } %}
        {% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
            'route': 'series_search',
            'route_params': { 'alias': series.alias, 'q': query },
            'page': results.page,
            'pages': results.pages
        } %}
    {% endif %}
</article>
{% endblock %}
