{% extends '::layout.html.twig' %}

{% block body %}
<h2>Viewing {{ series.title }}</h2>

{% for file in series.files %}
<h3 id="{{ series.alias }}-{{ file.id }}"><a href="{{ path('series_file', { 'alias': series.alias, 'file_id': file.id }) }}">{{ file.name }}</a></h3>
{% if (selected_file is not defined and loop.first) or (selected_file is defined and selected_file.id == file.id) %}
<ul>
{% for line in file.lines %}
    <li>{{ line.line }}</li>
{% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endblock %}
