{% extends '::layout.html.twig' %}
{% set location = 'series' %}

{% block body %}
<article>
    <header class="page-header">
        <h2 class="page-header-title">Viewing {{ series.title }}</h2>

        <form method="get" action="{{ path('series_search', { 'alias': series.alias }) }}" class="series-search page-header-actions">
            <fieldset>
                <legend>Search within this series</legend>
                <label for="search-query">Search term</label>
                <input type="text" name="q" placeholder="e.g. magical" value="{{ query|default('') }}" id="search-query" class="series-search-query">
                <button type="submit" class="series-search-search">Search</button>
            </fieldset>
        </form>
    </header>

    {% for file in series.files %}
    <h3 id="{{ series.alias }}-{{ file.id }}"><a href="{{ path('series_file', { 'alias': series.alias, 'file_id': file.id }) }}">{{ file.name }}</a></h3>
    {% if selected_file.id == file.id %}
    <div class="line-grid">
    {% for line in selected_file.lines %}
        {% include 'ChaosTangentFansubEbooksAppBundle::line.html.twig' with { 'line': line } %}
    {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
