{% extends '::layout.html.twig' %}
{% set location = 'series' %}

{% block title %}{{ series.title }}{% endblock %}

{% block body %}
<article>
    <header id="series-header">
        <h2>{{ series.title }}</h2>

        <div class="panel" id="series-thumbnail">
            <a href="{{ series.image }}" class="series">
                <img src="{{ series.thumbnail }}" alt="" class="series-thumbnail">
            </a>
        </div>

        <div class="panel" id="series-stats">
            <div class="stats">
                <div class="stat">
                    <h3 class="stat-title">Files</h3>
                    <span class="stat-stat">{{ series.fileCount|number_format }}</span>
                </div>
                <div class="stat">
                    <h3 class="stat-title">Lines</h3>
                    <span class="stat-stat">{{ series.lineCount|number_format }}</span>
                </div>
                <div class="stat">
                    <h3 class="stat-title">Tweets</h3>
                    <span class="stat-stat">{{ series.tweetCount|number_format }} ({{ ((series.tweetCount / series.lineCount) * 100)|number_format }}%)</span>
                </div>
                <div class="stat">
                    <h3 class="stat-title">Last update</h3>
                    <span class="stat-stat">{{ series.updated|date(datetime_format, 'UTC') }}</span>
                </div>
            </div>
        </div>

        <div class="panel" id="series-nav">
            <form method="GET" action="{{ path('series_search', { 'alias': series.alias }) }}" class="search">
                <fieldset>
                    <legend class="search-title">Search this series</legend>

                    <div class="search-inner">
                        <label for="search-query">Search term</label>
                        <input type="text" name="q" placeholder="magical" value="{{ query|default('') }}" class="search-query">
                        <button type="submit" class="search-action">Search</button>
                    </div>
                </fieldset>

                {#{% if line_results|length > 0 or series_results|length > 0 %}
                <p class="search-stats">
                    Your search returned
                    {% if series_results|length > 0 %}<b>{{ series_results.total }} series</b>{% endif %}
                    {% if series_results|length > 0 and line_results|length > 0 %}and{% endif %}
                    {% if line_results|length > 0 %}<b>{{ line_results.total }} line{% if line_results.total != 1 %}s{% endif %}</b>{% endif %}
                    in {{ (search_time * 1000)|number_format }}ms
                </p>
                {% endif %}#}
            </form>

            <nav class="panel">
                <h3 class="panel-title">Files within this series</h3>
                <ul class="filelist">
                    {% for file in series.files %}
                    <li{% if file.id == selected_file.id %} class="on"{% endif %}>
                        <a href="{{ path('series_file', { 'alias': series.alias, 'file_id': file.id }) }}" title="{{ file.name|replace('_', ' ') }}">
                            {{ file.name|replace('_', ' ') }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>

    <h3>Showing lines from {{ selected_file.name|replace('_', ' ') }}</h3>
    <div class="line-grid">
    {% for line in selected_file.lines %}
        {% include 'ChaosTangentFansubEbooksAppBundle::line.html.twig' with { 'line': line } %}
    {% endfor %}
    </div>
</div>
{% endblock %}
