{% extends '::layout.html.twig' %}

{% block header %}
<div id="home-feature" class="container">
    <div class="tweet">
        <h2 class="tweet-title">Latest tweet</h2>
        {% set latest_tweet = latest_tweets[0] %}
        {% if latest_tweet %}
        <div class="tweet-tweet">
            {{ latest_tweet.line.line }}
        </div>
        <p class="tweet-series">From: <a href="{{ path('line', { 'id': latest_tweet.line.id }) }}">#{{ latest_tweet.line.id }}</a> / <a href="{{ path('series_view', { 'alias': latest_tweet.line.file.series.alias }) }}">{{ latest_tweet.line.file.series.title }}</a></p>
        <div class="tweet-details">
            <div class="tweet-actions">
                <a href="https://twitter.com/fansub_ebooks" class="tweet-account">@fansub_ebooks</a>
                <a href="https://twitter.com/intent/favorite?tweet_id={{ latest_tweet.tweetId }}" class="tweet-favourite">{% include '@svg/favourite.svg.twig' %}</a>
                <a href="https://twitter.com/intent/retweet?tweet_id={{ latest_tweet.tweetId }}" class="tweet-retweet">{% include '@svg/retweet.svg.twig' %}</a>
                <a href="https://twitter.com/intent/tweet?in-reply-to={{ latest_tweet.tweetId }}" class="tweet-reply">{% include '@svg/reply.svg.twig' %}</a>
            </div>
            <a href="https://twitter.com/fansub_ebooks/status/{{ latest_tweet.tweetId }}" class="tweet-datetime">
                <time datetime="{{ latest_tweet.tweeted|date('Y-m-d\\TH:i:sP', 'UTC') }}">{{ latest_tweet.tweeted|date(datetime_format, 'UTC') }}</time>
            </a>
        </div>
        {% else %}
        <p>Could not access latest tweet</p>
        {% endif %}
    </div>

    <div class="stats">
        <div class="stat">
            <h3 class="stat-title">Total tweets</h3>
            <span class="stat-stat">{{ tweet_count|number_format }}</span>
        </div>
        <div class="stat">
            <h3 class="stat-title">Total lines</h3>
            <span class="stat-stat">{{ line_count|number_format }}</span>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<article>
    <div class="intro">
        <p>For half-hourly wisdom from anime fansubs</p>
        <a class="btn btn-lg" href="https://twitter.com/fansub_ebooks">Follow @fansub_ebooks on Twitter</a>
    </div>

    <div id="recently-tweeted" class="panel">
        <h2 class="panel-title">Recently tweeted</h2>
        <a href="" class="btn panel-actions">View all</a>
        <div class="tweettrain">
            {% for tweet in latest_tweets[1:] %}
            <div class="tweettrain-tweet">
                <blockquote class="twitter-tweet" lang="en">
                    <p lang="en" dir="ltr">{{ tweet.line.line }}</p>
                    &mdash; Fansub Ebooks (@fansub_ebooks) <a href="https://twitter.com/fansub_ebooks/status/{{ tweet.tweetId }}">{{ tweet.tweeted|date(datetime_format, 'UTC') }}</a>
                </blockquote>
                <p class="tweettrain-details">From: <a href="{{ path('line', { 'id': tweet.line.id }) }}">#{{ tweet.line.id }}</a> / <a href="{{ path('series_view', { 'alias': tweet.line.file.series.alias }) }}">{{ tweet.line.file.series.title }}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="activity" class="panel">
        <h2 class="panel-title">Activity</h2>
        <ul class="activity">
            {% for entry in activity %}
            <li class="activity-entry activity-{{ entry.typeAsText }}">
                {% if entry.typeAsText == 'series' %}
                <a href="{{ path('series_view', { 'alias': entry.object.alias }) }}">{{ entry.message }}</a>
                {% elseif entry.typeAsText == 'suggestseries' or entry.typeAsText == 'suggestscript' %}
                {{ entry.message }}
                {% else %}
                <a href="{{ path('line', { 'id': entry.object.line.id }) }}">{{ entry.message }}</a>
                {% endif %}
                <time datetime="{{ entry.dateTime|date('Y-m-d\\TH:i:sP', 'UTC') }}">{{ entry.dateTime|time_diff }}</time>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="upcoming" class="panel">
        <h2 class="panel-title">Upcoming <small>based on votes</small></h2>

        {% if upcoming|length > 0 %}
        <div id="lines">
            {% include 'ChaosTangentFansubEbooksAppBundle::linegrid.html.twig' with {
                'lines': upcoming
            } %}
        </div>
        {% else %}
        <div class="alert">
            Nothing in the queue! <a href="{{ path('random') }}">Get voting</a> to pick which lines are tweeted next.
        </div>
        {% endif %}
    </div>

    <div id="recently-updated" class="panel">
        <h2 class="panel-title">Recently updated series</h2>
        <a href="{{ path('series') }}" class="btn panel-actions">View all</a>
        <div class="seriesgrid">
            {% for series in updated %}
            {% include 'ChaosTangentFansubEbooksAppBundle::series.html.twig' with {
                'series': series,
                'hide_stats': true
            } %}
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}

{% block javascripts %}
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<script>
    var initialState = {
        lines: {{ upcoming_serialized|raw }}
    };
</script>

<script src="{{ asset('js/vendor.js') }}"></script>
<script src="{{ asset('js/linelist.js') }}"></script>
<script src="{{ asset('js/lines.js') }}"></script>
{% endblock %}
