{% extends '::layout.html.twig' %}

{% block header %}
<div id="home-feature" class="container">
    <div class="tweet">
        <h2 class="tweet-title">Latest tweet</h2>
        {% if latest_tweet %}
        <div class="tweet-tweet">
            {{ latest_tweet.line.line }}
        </div>
        <p class="tweet-series">From: <a href="{{ path('line', { 'id': latest_tweet.line.id }) }}">#{{ latest_tweet.line.id }}</a> / <a href="{{ path('series_view', { 'alias': latest_tweet.line.file.series.alias }) }}">{{ latest_tweet.line.file.series.title }}</a></p>
        <div class="tweet-details">
            <div class="tweet-actions">
                <a href="https://twitter.com/fansub_ebooks" class="tweet-account">@fansub_ebooks</a>
                <a href="https://twitter.com/intent/favorite?tweet_id={{ latest_tweet.tweetId }}" class="tweet-favourite">{% include '@svg/favourite.svg.twig' %}</a>
                <a href="https://twitter.com/intent/retweet?tweet_id={{ latest_tweet.tweetId }}" class="tweet-retweet">{% include '@svg/retweet.svg.twig' %}</a>
                <a href="https://twitter.com/intent/tweet?in-reply-to={{ latest_tweet.tweetId }}" class="tweet-reply">{% include '@svg/reply.svg.twig' %}</a>
            </div>
            <a href="https://twitter.com/fansub_ebooks/status/{{ latest_tweet.tweetId }}" class="tweet-datetime">
                <time datetime="{{ latest_tweet.tweeted|date('Y-m-d\\TH:i:sP', 'UTC') }}">{{ latest_tweet.tweeted|date(datetime_format, 'UTC') }}</time>
            </a>
        </div>
        {% else %}
        <p>Could not access latest tweet</p>
        {% endif %}
    </div>

    <div class="stats">
        <div class="stat">
            <h3 class="stat-title">Total tweets</h3>
            <span class="stat-stat">{{ tweet_count|number_format }}</span>
        </div>
        <div class="stat">
            <h3 class="stat-title">Total lines</h3>
            <span class="stat-stat">{{ line_count|number_format }}</span>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<article>
    <div class="intro">
        <p>For half-hourly wisdom from anime fansubs</p>
        <a class="btn btn-lg" href="https://twitter.com/fansub_ebooks">Follow @fansub_ebooks on Twitter</a>
    </div>

    <div id="upcoming" class="panel">
        <h2 class="panel-title">Upcoming <small>based on votes</small></h2>

        {% if upcoming|length > 0 %}
        <ul>
            {% for line in upcoming %}
            <li>
                {% include 'ChaosTangentFansubEbooksAppBundle::line.html.twig' with { 'line': line } %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="alert">
            Nothing in the queue! <a href="{{ path('random') }}">Get voting</a> to pick which lines are tweeted next.
        </div>
        {% endif %}
    </div>

    <div id="recently-updated" class="panel">
        <h2 class="panel-title">Recently updated series</h2>
        <div class="seriesgrid">
            {% for series in updated %}
            {% include 'ChaosTangentFansubEbooksAppBundle::series.html.twig' with {
                'series': series,
                'hide_stats': true
            } %}
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}
