{% extends '::layout.html.twig' %}
{% set location = 'search' %}

{% block title %}Search{% endblock %}

{% block body %}
<article>
    <header class="page-header">
        <h1>Search everything</h1>
    </header>

    <form method="GET" action="" class="search">
        <fieldset>
            <legend class="search-title">Search</legend>

            <div class="search-inner">
                <label for="search-query">Search term</label>
                <input type="text" name="q" placeholder="magical" value="{{ query|default('') }}" class="search-query">
                <button type="submit" class="search-action">Search</button>
            </div>
        </fieldset>

        {% if line_results|length > 0 or series_results|length > 0 %}
        <p class="search-stats">
            Your search returned
            {% if series_results|length > 0 %}<b>{{ series_results.total }} series</b>{% endif %}
            {% if series_results|length > 0 and line_results|length > 0 %}and{% endif %}
            {% if line_results|length > 0 %}<b>{{ line_results.total }} line{% if line_results.total != 1 %}s{% endif %}</b>{% endif %}
            in {{ (search_time * 1000)|number_format }}ms
        </p>
        {% endif %}
    </form>

    {% if series_results|length > 0 %}
    <ul class="series-grid search-results">
        {% for series in series_results %}
        <li>
            {% include 'ChaosTangentFansubEbooksAppBundle::series.html.twig' with { 'series': series } %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if series_results|length > 0 and line_results|length > 0 %}
    <hr>
    {% endif %}

    {% if line_results|length > 0 %}
    <div id="lines">
        {% include 'ChaosTangentFansubEbooksAppBundle::linegrid.html.twig' with { 'lines': line_results } %}
    </div>

    {% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
        'route': 'search',
        'route_params': {
            'q': line_results.query
        },
        'page': line_results.page,
        'pages': line_results.pages
    } %}
{% endif %}
</article>
{% endblock %}

{% block javascripts %}
<script>
    var initialState = {
        lines: {% if line_results_serialized is not empty %}{{ line_results_serialized|raw }}{% else %}[]{% endif %}
    };
</script>

<script src="{{ asset('js/vendor.js') }}"></script>
<script src="{{ asset('js/linelist.js') }}"></script>
<script src="{{ asset('js/lines.js') }}"></script>
{% endblock %}
