{% extends '::layout.html.twig' %}
{% set location = 'popular' %}

{% block body %}
<div id="linelist"></div>

<script>
    window.__INITIAL_STATE__ = {
        page: {{ lines.page }},
        pages: {{ lines.pages }},
        lines: {{ lines.results|serialize('json')|raw }}
    };
</script>

<script src="{{ asset('js/routing.js') }}"></script>
<script src="{{ asset('js/linelist.js') }}"></script>
{% endblock %}
